h1 {
  color: yellow;
  text-align: center;
}

h2 {
  color: red;
  font-style: bold;
  text-align: center;
}

p {
  color: purple;
  font-family: fantasy;
}

ul {
  font-size: 50px;
  line-height: 55px;
}
